{"openapi":"3.0.0","paths":{"/api/v1/teams/status":{"get":{"operationId":"ApiKeyTeamInformationController_getUsage","summary":"Get team billing information","description":"Get team billing information","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiTeamBillingInformationResDto"}}}},"400":{"description":"API key expired"},"401":{"description":"API key invalid"},"422":{"description":"API key not found"}},"tags":["Teams"],"security":[{"X-API-KEY":[]}]}},"/api/v1/speakers":{"get":{"operationId":"retrieve-speakers","summary":"Retrieve speakers","description":"Retrieve all speakers with filter. This API supports pagination.","parameters":[{"name":"sort","required":false,"in":"query","examples":{"Display Name Asc":{"value":["displayName:1"],"summary":"Ascending order in displayName"},"Display Name Desc":{"value":["displayName:-1"],"summary":"Descending order in displayName"},"Display Name Asc | Gender Desc":{"value":["displayName:1","gender:-1"],"summary":"Ascending order in displayName, then descending order in gender"}},"description":"Sort by given order. Available fields are displayName, locale, gender, speakerType, and ageRange. Example: \"displayName:1\" (NO whitespace)","schema":{"default":["displayName:1"],"type":"array","items":{"type":"string"}}},{"name":"page","required":false,"in":"query","description":"Number of pages to skip.","schema":{"type":"number"}},{"name":"limit","required":false,"in":"query","description":"Number of speakers in each page.","schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResDto"},{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GetSpeakersApiResponse"}}}}]}}}},"400":{"description":"API key expired"},"401":{"description":"API key invalid"},"422":{"description":"API key not found"}},"tags":["Speakers"],"security":[{"X-API-KEY":[]}]}},"/api/v1/tts/sync":{"post":{"operationId":"sync-tts","summary":"Sync TTS","description":"Has a timeout of 90 seconds. If the process is not completed within that time, it will return a pending TTS Job just like the [Async TTS](async-tts).","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeechSyncRequest"},"examples":{"default":{"value":{"speaker":"640f477d2babeb0024be422b","text":"Welcome to Genny!"}}}}}},"responses":{"201":{"description":"It will return generated audio urls if job is successfully completed within 90 seconds. Otherwise it will return an incomplete TTS Job just like the [Async TTS](async-tts). Check the job status with [Async Retrieve Job](async-retrieve-job) API using the returned id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeechSyncResponse"}}}},"400":{"description":"API key expired"},"401":{"description":"API key invalid"},"402":{"description":"No active subscription"},"422":{"description":"API key not found"}},"tags":["Text-to-Speech"],"security":[{"X-API-KEY":[]}]}},"/api/v1/tts":{"post":{"operationId":"async-tts","summary":"Async TTS","description":"Returns a TTS job. Check the job status with [Async Retrieve Job](async-retrieve-job) `/api/v1/tts/{jobId}` API using the returned id.<br /><br />Use callbackUrls get a callback when a TTS job completed.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeechRequest"},"examples":{"default":{"value":{"speaker":"640f477d2babeb0024be422b","text":"Welcome to Genny!"}}}}}},"responses":{"201":{"description":"Job entity that can be later used to fetch the status of the TTS job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobResponse"}}}},"400":{"description":"API key expired"},"401":{"description":"API key invalid"},"402":{"description":"No active subscription"},"422":{"description":"API key not found"}},"tags":["Text-to-Speech"],"security":[{"X-API-KEY":[]}]}},"/api/v1/tts/{jobId}":{"get":{"operationId":"async-retrieve-job","summary":"Async Retrieve Job","description":"Retrieve job result. It will return generated audio urls if job is successfully completed.","parameters":[{"name":"jobId","required":true,"in":"path","description":"Job ID from [Async TTS](async-tts)","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeechResponse"}}}},"400":{"description":"API key expired"},"401":{"description":"API key invalid"},"422":{"description":"Job not found"}},"tags":["Text-to-Speech"],"security":[{"X-API-KEY":[]}]}}},"info":{"title":"Genny API","description":"This is the documentation for Genny TTS API.<br /><br />Use <b>X-API-KEY</b> header to make API requests with the API key generated at <a href=\"https://genny.lovo.ai\">https://genny.lovo.ai</a>.<br />Click <b>Authorize</b> button on the top right corner and enter your API key in the value input field. Click <b>Authorize</b> button to save your authentication method.<br /><br />TTS credits will be deducted from the account associated with the API key used.<br /><br />TTS result audio URLs are valid for 24 hours and will expire afterwords. You can use the URL to download the result audio for further use.<br />","version":"1.0","contact":{}},"tags":[{"name":"Teams","description":""},{"name":"Speakers","description":""},{"name":"Text-to-Speech","description":""}],"servers":[{"url":"https://api.genny.lovo.ai"}],"components":{"securitySchemes":{"X-API-KEY":{"type":"apiKey","in":"header","name":"X-API-KEY","description":"API Key"}},"schemas":{"TeamForApiResDto":{"type":"object","properties":{"name":{"type":"string"},"createdAt":{"format":"date-time","type":"string"}},"required":["name","createdAt"]},"ApiUsageResDto":{"type":"object","properties":{"type":{"type":"string"},"unit":{"type":"string"},"amount":{"type":"string"},"currentPeriodStart":{"format":"date-time","type":"string"},"currentPeriodEnd":{"format":"date-time","type":"string"}},"required":["type","unit","amount"]},"Subscription":{"type":"object","properties":{"status":{"type":"string","enum":["active","pending_pause","paused","trialing","past_due","canceled","unpaid","incomplete","incomplete_expired"]},"currentPeriodStart":{"format":"date-time","type":"string"},"currentPeriodEnd":{"format":"date-time","type":"string"},"description":{"type":"string"},"priceInterval":{"type":"string","enum":["year","month","onetime","day"]},"usage":{"type":"array","items":{"$ref":"#/components/schemas/ApiUsageResDto"}}},"required":["status","currentPeriodStart","currentPeriodEnd","priceInterval","usage"]},"ApiTeamBillingInformationResDto":{"type":"object","properties":{"team":{"$ref":"#/components/schemas/TeamForApiResDto"},"subscription":{"$ref":"#/components/schemas/Subscription"}},"required":["team","subscription"]},"PaginatedResDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"Total item count available for pagniation"},"count":{"type":"number","description":"Item count for the current page"},"data":{"description":"A list of items for the current page","type":"array","items":{"type":"string"}},"page":{"type":"number","description":"Current page number"},"limit":{"type":"number","description":"Limit of items per page"}},"required":["totalCount","count","data"]},"PublicSpeakerStyleResType":{"type":"object","properties":{"displayName":{"type":"string"},"deprecated":{"type":"boolean","description":"Whether this speaker is deprecated or not. Deprecated speaker styles should not be used in TTS API."},"sampleTtsUrl":{"type":"string","description":"Sample tts url to test/hear the voice of the speaker"},"id":{"type":"string"}},"required":["displayName","deprecated","sampleTtsUrl","id"]},"GetSpeakersApiResponse":{"type":"object","properties":{"id":{"type":"string","description":"Speaker id"},"displayName":{"type":"string","description":"Name of the speaker"},"locale":{"type":"string","description":"Locale of the speaker","example":["en-US","en-GB","ko-KR"]},"gender":{"enum":["male","female","other"],"type":"string","description":"Gender of the speaker"},"imageUrl":{"type":"string","description":"Avatar url of the speaker"},"ageRange":{"enum":["child","children","young_adult","mature","mature_adult","old","other"],"type":"string","description":"Age range of the speaker"},"speakerStyles":{"description":"Available speaker styles for this speaker","allOf":[{"$ref":"#/components/schemas/PublicSpeakerStyleResType"}]}},"required":["id","displayName","locale","gender","imageUrl"]},"TextToSpeechSyncRequest":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":500,"description":"Text to be converted to audio","example":"Welcome to Genny!"},"speaker":{"type":"string","description":"Speaker ID. You can retrieve speaker ID with [Retrieve Speakers](retrieve-speakers) `/api/v1/speakers` API.","example":"640f477d2babeb0024be422b"},"speakerStyle":{"type":"string","description":"Speaker style id for the chosen speaker. You can retrieve speaker styles with /api/v1/speakers API. Only some of our speakers have multiple speaker styles."},"speed":{"type":"number","default":1,"minimum":0.05,"maximum":3,"description":"Speed of the audio to be generated"}},"required":["text","speaker"]},"JobErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message"]},"Pause":{"type":"object","properties":{"position":{"type":"number"},"value":{"type":"number","maximum":2,"minimum":0}},"required":["position","value"]},"Emphasis":{"type":"object","properties":{"position":{"type":"number"},"value":{"type":"number","enum":[0.25,0.5,0.75]}},"required":["position","value"]},"Pronunciation":{"type":"object","properties":{"sourceWord":{"type":"string"},"targetWord":{"type":"string"},"isReplaced":{"type":"boolean"}},"required":["sourceWord","targetWord","isReplaced"]},"TextToSpeechOutput":{"type":"object","properties":{"status":{"type":"string","enum":["pending","succeeded","failed"],"description":"Status of the TTS request"},"text":{"type":"string"},"speaker":{"type":"string","format":"mongoid"},"speakerStyle":{"type":"string","format":"mongoid"},"speed":{"type":"number"},"pause":{"type":"array","items":{"$ref":"#/components/schemas/Pause"}},"emphasis":{"type":"array","items":{"$ref":"#/components/schemas/Emphasis"}},"urls":{"description":"Audio URLs of the TTS request","type":"array","items":{"type":"string"}},"pronunciations":{"default":[],"description":"Pronunciations applied to the TTS request","type":"array","items":{"$ref":"#/components/schemas/Pronunciation"}},"error":{"$ref":"#/components/schemas/JobErrorResponse"}},"required":["status","text","speaker","speakerStyle","speed","pause","emphasis","pronunciations"]},"TextToSpeechSyncResponse":{"type":"object","properties":{"id":{"type":"string","format":"mongoid","example":"643e383551e2730025c5ae69","description":"Id of the job returned. This id will be later used to check the progress of the TTS job."},"type":{"type":"string","enum":["tts","simple_tts","dubbing","localization","subtitles"],"description":"Type of the current job. Currently only TTS is supported."},"status":{"type":"string","enum":["in_progress","done"]},"progress":{"type":"number"},"team":{"type":"string"},"workspace":{"type":"string"},"project":{"type":"string"},"error":{"$ref":"#/components/schemas/JobErrorResponse"},"createdAt":{"format":"date-time","type":"string","description":"TTS requested time."},"estimatedTimeAt":{"format":"date-time","type":"string","description":"Job estimated timestamp in milliseconds"},"estimatedTimeMs":{"type":"number","description":"Job estimated time in milliseconds"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TextToSpeechOutput"}}},"required":["id","type","status","progress","team","createdAt","data"]},"TextToSpeechRequest":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":500,"description":"Text to be converted to audio","example":"Welcome to Genny!"},"speaker":{"type":"string","description":"Speaker ID. You can retrieve speaker ID with [Retrieve Speakers](retrieve-speakers) `/api/v1/speakers` API.","example":"640f477d2babeb0024be422b"},"speakerStyle":{"type":"string","description":"Speaker style id for the chosen speaker. You can retrieve speaker styles with /api/v1/speakers API. Only some of our speakers have multiple speaker styles."},"speed":{"type":"number","default":1,"minimum":0.05,"maximum":3,"description":"Speed of the audio to be generated"},"callbackUrls":{"description":"Callback urls for any async job. Max size of callback urls is 4. <br /><br />The callback will be sent only once. It will be a POST request with the same data format as Async Retrieve Job `/api/v1/tts/{jobId}` API.<br />      Your endpoints should return 2xx status code and should not take more than 10 seconds to respond. Otherwise, the callback will be considered as failed.","type":"array","items":{"type":"string"}}},"required":["text","speaker"]},"GetJobResponse":{"type":"object","properties":{"id":{"type":"string","format":"mongoid","example":"643e383551e2730025c5ae69","description":"Id of the job returned. This id will be later used to check the progress of the TTS job."},"type":{"type":"string","enum":["tts","simple_tts","dubbing","localization","subtitles"],"description":"Type of the current job. Currently only TTS is supported."},"status":{"type":"string","enum":["in_progress","done"]},"progress":{"type":"number"},"team":{"type":"string"},"workspace":{"type":"string"},"project":{"type":"string"},"error":{"$ref":"#/components/schemas/JobErrorResponse"},"createdAt":{"format":"date-time","type":"string","description":"TTS requested time."},"estimatedTimeAt":{"format":"date-time","type":"string","description":"Job estimated timestamp in milliseconds"},"estimatedTimeMs":{"type":"number","description":"Job estimated time in milliseconds"},"callbackUrls":{"description":"Callback urls for any async job. This can be empty array.","type":"array","items":{"type":"string"}}},"required":["id","type","status","progress","team","createdAt","callbackUrls"]},"TextToSpeechResponse":{"type":"object","properties":{"id":{"type":"string","format":"mongoid","example":"643e383551e2730025c5ae69","description":"Id of the job returned. This id will be later used to check the progress of the TTS job."},"type":{"type":"string","enum":["tts","simple_tts","dubbing","localization","subtitles"],"description":"Type of the current job. Currently only TTS is supported."},"status":{"type":"string","enum":["in_progress","done"]},"progress":{"type":"number"},"team":{"type":"string"},"workspace":{"type":"string"},"project":{"type":"string"},"error":{"$ref":"#/components/schemas/JobErrorResponse"},"createdAt":{"format":"date-time","type":"string","description":"TTS requested time."},"estimatedTimeAt":{"format":"date-time","type":"string","description":"Job estimated timestamp in milliseconds"},"estimatedTimeMs":{"type":"number","description":"Job estimated time in milliseconds"},"callbackUrls":{"description":"Callback urls for any async job. This can be empty array.","type":"array","items":{"type":"string"}},"data":{"type":"array","items":{"$ref":"#/components/schemas/TextToSpeechOutput"}}},"required":["id","type","status","progress","team","createdAt","callbackUrls","data"]}}}}