{"openapi":"3.1.0","info":{"title":"API Reference","version":"1.0.0"},"paths":{"/tts/bytes":{"post":{"operationId":"bytes","summary":"Bytes","description":"The easiest way to generate text-to-speech audio. Not suitable for latency-sensitive applications. Use for transcripts up to approximately 5,000 characters. For longer texts, use [SSE](./api/tts/sse) or [WebSocket](./api/tts/web-socket).","tags":["tts"],"parameters":[{"name":"X-API-Key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"WAV file (16-bit LE PCM).","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/type_tts:BytesGenerationRequest"}}}}}},"/tts/sse":{"post":{"operationId":"sse","summary":"SSE","description":"Stream text-to-speech audio as JSONL (JSON lines) objects over HTTP. A less performant alternative to WebSockets, without text input streaming.","tags":["tts"],"parameters":[{"name":"X-API-Key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with status 200","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/type_tts:ServerSentEvent"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/type_tts:StreamingGenerationRequest"}}}}}},"/voices":{"get":{"operationId":"list","summary":"List","description":"List of available voices with IDs and metadata.","tags":["voices"],"parameters":[{"name":"X-API-Key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response with status 200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/type_voices:Voice"}}}}}}}}},"servers":[{"url":"https://api.respeecher.com/v1/public/tts/en-rt","description":"public-en-rt"},{"url":"https://api.respeecher.com/v1/public/tts/ua-rt","description":"public-ua-rt"}],"components":{"schemas":{"type_voices:SamplingParams":{"type":"object","properties":{"seed":{"type":"integer","description":"Generations with the same parameters _including_ a non-null `seed` are identical."},"temperature":{"type":"number","format":"double","description":"Smaller values correspond to more stable but less expressive speech. Must be greater than or equal to 0."},"top_k":{"type":"integer","description":"Must be -1 or greater than 0."},"top_p":{"type":"number","format":"double","description":"Must be greater than 0 and less than or equal to 1."},"min_p":{"type":"number","format":"double","description":"Must be between 0 and 1, inclusive."},"presence_penalty":{"type":"number","format":"double","description":"Must be between 0 and 2, inclusive."},"repetition_penalty":{"type":"number","format":"double","description":"Must be between 1 and 2, inclusive."},"frequency_penalty":{"type":"number","format":"double","description":"Must be between 0 and 2, inclusive."}},"title":"SamplingParams"},"type_tts:Voice":{"type":"object","properties":{"id":{"type":"string"},"sampling_params":{"$ref":"#/components/schemas/type_voices:SamplingParams","description":"Optional sampling params overrides. The defaults for this voice can be obtained through the [Voices](../voices/list#response.body.sampling_params) endpoint. See also the [Sampling Params Guide](../tts/sampling-params-guide)."}},"required":["id"],"title":"Voice"},"type_tts:OutputFormat":{"type":"object","properties":{"sample_rate":{"type":"integer","description":"Audio sample rate, defaults to 22050."}},"title":"OutputFormat"},"type_tts:BytesGenerationRequest":{"type":"object","properties":{"transcript":{"type":"string","description":"Text for narration."},"voice":{"$ref":"#/components/schemas/type_tts:Voice","description":"Voice for narration."},"output_format":{"$ref":"#/components/schemas/type_tts:OutputFormat","description":"Audio format specification."}},"required":["transcript","voice"],"title":"BytesGenerationRequest"},"type_tts:StreamingEncoding":{"type":"string","enum":["pcm_f32le","pcm_s16le","pcm_mulaw"],"title":"StreamingEncoding"},"type_tts:StreamingOutputFormat":{"type":"object","properties":{"sample_rate":{"type":"integer","description":"Audio sample rate, defaults to 22050."},"encoding":{"$ref":"#/components/schemas/type_tts:StreamingEncoding"}},"title":"StreamingOutputFormat"},"type_tts:StreamingGenerationRequest":{"type":"object","properties":{"transcript":{"type":"string","description":"Text for narration."},"voice":{"$ref":"#/components/schemas/type_tts:Voice","description":"Voice for narration."},"output_format":{"$ref":"#/components/schemas/type_tts:StreamingOutputFormat","description":"Audio format specification."}},"required":["transcript","voice"],"title":"StreamingGenerationRequest"},"type_tts:ServerSentEvent":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["chunk"],"description":"Discriminator value: chunk"},"data":{"type":"string","format":"base64","description":"Speech audio (raw PCM)."}},"required":["type","data"]},{"type":"object","properties":{"type":{"type":"string","enum":["error"],"description":"Discriminator value: error"},"error":{"type":"string","description":"Error message."},"status_code":{"type":"integer","description":"HTTP status code most appropriate for this error."},"context_id":{"type":"string"}},"required":["type","error","status_code"]}],"discriminator":{"propertyName":"type"},"title":"ServerSentEvent"},"type_voices:Gender":{"type":"string","enum":["female","male"],"title":"Gender"},"type_voices:Voice":{"type":"object","properties":{"id":{"type":"string"},"full_name":{"type":"string"},"gender":{"$ref":"#/components/schemas/type_voices:Gender"},"accent":{"type":"string"},"age":{"type":"string"},"sampling_params":{"$ref":"#/components/schemas/type_voices:SamplingParams","description":"Default sampling params for this voice. See also [Sampling Params Guide](../tts/sampling-params-guide)."}},"required":["id"],"title":"Voice"}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"header","name":"X-API-Key"}}}}